<!DOCTYPE html>

<html>

<head>
    <meta charset="urf-8">
    <title>data show</title>
    <style type="text/css">
        #main-wrap > div {min-height: 450px;}
        #header,
        #footer {
            background-color: #f1f1f1;
            min-height: 40px;
        }
        #main-wrap{
            background-color: #D9D9D9;
            overflow:hidden;
        }
        #sidebar{
            background-color: #d2d2d2;
            float:left;
            width:15%;
        }
        #content-wrap{
            background-color: #c5c5c5;
            float: right;
            width: 85%;
        }
    </style>
</head>

<body>

<div id="header">Header</div>
<div id="main-wrap">
    <!-- Left Nav -->
    <div id="sidebar">
        <form action="show_data" method="post">
            {% csrf_token %}
            <label for="node_name">Node Name: </label>
            <input id="node_name" type="text" name="node_name">
            <input type="submit" value="OK">
        </form>
    </div>

    <div id="content-wrap">
        <br>
        CONTENT
    </div>
</div>

<div id="footer">Footer</div>

</body>

</html>
