<!DOCTYPE html>

<html>

<head>
    <meta charset="urf-8">
    <title>data show</title>
    <style type="text/css">
        #main-wrap > div {min-height: 450px;}
        #header,
        #footer {
            background-color: #f1f1f1;
            min-height: 40px;
        }
        #main-wrap{
            background-color: #D9D9D9;
            overflow:hidden;
        }
        #sidebar{
            background-color: #d2d2d2;
            float:left;
            width:15%;
        }
        #content-wrap{
            background-color: #c5c5c5;
            float: right;
            width: 85%;
        }
    </style>
</head>

<body>

<div id="header">Header</div>
<div id="main-wrap">
    <!-- Left Nav -->
    <div id="sidebar">
        <form action="show_data" method="post">
            {% csrf_token %}
            <label for="node_name">Node Name: </label>
            <input id="node_name" type="text" name="node_name">
            <input type="submit" value="OK">
        </form>
    </div>

    <div id="content-wrap">
        <script>
            function output_node_room(category, dt_a) {
                var delimiter = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                document.write(category);
                document.write("<br>");

                document.write(dt_a[0]);
                document.write(delimiter);
                for (i = 1; i < dt_a.length; i++) {
                    document.write(dt_a[i]);
                    document.write(delimiter);
                    if (i%5 == 0) {
                        document.write("<br>");
                    }
                    else if (i == dt_a.length - 1) {
                        document.write("<br>");
                    }
                }
                document.write("<br>");
            }

            var json_obj = JSON.parse("{{ data | escapejs }}");
            cun_nr = json_obj["node_room"]["CUN"];
            ctn_nr = json_obj["node_room"]["CTN"];
            cmn_nr = json_obj["node_room"]["CMN"];
            oth_nr = json_obj["node_room"]["OTH"];
            output_node_room("CUN",cun_nr);
            output_node_room("CTN",ctn_nr);
            output_node_room("CMN",cmn_nr);
            output_node_room("OTH",oth_nr);
        </script>
    </div>
</div>

<div id="footer">Footer</div>

</body>

</html>
