<!DOCTYPE html>
<html>
<head>
    <meta charset="urf-8">
    <title>line chart</title>
    <style type="text/css">
        .axis path,
        .axis line {
            fill: none;
            stroke: #F2E8DE;
            shape-rendering: crispEdges;
        }
        .line {
            fill: none;
            stroke: #FCAD62;
            stroke-width: 1.5px;
        }
        text{
            fill:#999;
        }
        .inner_line line {
            fill: none;
            stroke:#E7E7E7;
            shape-rendering: crispEdges;
        }
        .MyCircle {
            fill: #FCAD62;
        }
    </style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
    <script>
    var margin = {top: 20, right: 20, bottom: 30, left: 100};
    var width  = 1000 - margin.left - margin.right;
    var height = 500 - margin.top - margin.bottom;
    
    var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);
    
    var xAxis = d3.svg.axis()
                      .scale(x)
                      .orient("bottom")
                      .tickFormat(d3.time.format("%H:%M"));
    
    var yAxis = d3.svg.axis()
                      .scale(y)
                      .orient("left");
    
    var data = [];
    var raw_data = JSON.parse("{{ data | escapejs }}");
    console.log(raw_data[0].node_name);
    console.log(raw_data[0].data);
    raw_data = raw_data[0].data;
    for (i = 0; i < raw_data.length; i++) {
        raw_data[i][1] = parseDate(raw_data[i][1]);
        unit = {"date": raw_data[i][1], "close": raw_data[i][0] };
        data.push(unit);
    }
    
        x.domain(d3.extent(data, function(d) { return d.date; }));
        y.domain(d3.extent(data, function(d) { return d.close; }));
        
        var line = d3.svg.line()
                        .x(function(d) { return x(d.date); })
                        .y(function(d) { return y(d.close); });
        svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);
        svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("transform", "rotate(0)")
                        .attr("y", 25)
                        .attr("x", 75)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("我的数据");
        
        
        var yInner = d3.svg.axis()
                .scale(y)
                .tickSize(-width,0,0)
                .tickFormat("")
                .orient("left")
                .ticks(5);
        var yInnerBar=svg.append("g")
                .attr("class", "inner_line")
                .attr("transform", "translate(0,-25)")
                .call(yInner);
        svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("d", line)
            .attr("opacity", 0)
            .transition()
            .duration(2000)
            .attr("opacity", 1);

        var points = svg.selectAll(".MyCircle")
                .data(data)
                .enter()
                .append("circle")
                .attr("class","MyCircle")
                .attr("transform","translate(0,0)")
                .attr("r", 3)
                .attr("opacity", 0)
                .transition()
                .duration(2000)
                .attr("cx", function(d){ return x(d.date); })
                .attr("opacity", 1)
                .attr("cy", function(d){ return y(d.close); });

    </script>
</body>
</html>
